@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;100&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #72bc8e;
  background-color: #222426;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffa41c;
}

.container {
  max-width: 1200px;
  padding: 40px;
}

.section {
  padding: 40px 0;
}

footer {
  padding: 20px;
  background-color: #222426;
}